.order {
  padding-bottom: 120px;

  @media (max-width: $tablet-max) {
    padding-bottom: 48px;
  }
}

.order_inner {
  @include inner;
}

.order_row {
  display: flex;
  flex-direction: row;
  gap: 136px;

  @media (max-width: $tablet-max) {
    gap: 20px;
  }
}

.order_visual {
  width: 100%;

  @media (max-width: $tablet-max) {
    display: none;
  }
}

.order_image {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.order_half {
  flex-basis: 50%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;

  @media (max-width: $tablet-max) {
    flex-basis: 100%;
  }
}

.order_title {
  @include title;
}
