.order {
  padding-bottom: 120px;

  @media (max-width: $mobile-max) {
    padding-bottom: 48px;
  }
}

.order_inner {
  @include inner;
}

.order_row {
  display: flex;
  flex-direction: row;
  column-gap: 136px;
}

.order_visual {
  width: 100%;

  @media (max-width: $mobile-max) {
    display: none;
  }
}

.order_image {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.order_half {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}

.order_title {
  @include title;
}
