.promo {
  padding-bottom: 120px;
}

.promo_inner {
  @include inner
}

.promo_block {
  display: flex;
  align-items: flex-end;
  gap: 418px;
}

.promo_title {
  font-size: 72px;
  font-weight: 400;
  line-height: 86px;
}

.promo_btn {
  flex-shrink: 0;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: $color-dark;
}

.promo_text {
  margin-top: 40px;
  display: inline-block;
  margin-bottom: 232px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.promo_image {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
