.projects {
  padding-bottom: 120px;

  @media (max-width: $mobile-max) {
    padding-bottom: 48px;
  }
}

.projects_inner {
  @include inner;
}

.projects_title {
  @include title;
}

.projects_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: $mobile-max) {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
