.promo {

}

.promo_inner {
  @include inner
}

.promo_block {
  display: flex;
  align-items: flex-end;
  gap: 418px;
}

.promo_title {
  font-size: 72px;
  font-weight: 400;
  line-height: 86px;
}

.promo_btn {
  flex-shrink: 0;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: $color-dark;
}
