// Fonts
$font: Arial, "Helvetica Neue", Helvetica, sans-serif;

$h1-fz-mobile: 20px;
$h1-fz-tablet: 32px;
$h1-fz-desktop: 48px;
$h1-fw: 400;

// colors
$color-light: #DDD7C0;
$color-dark: #212529;

// indents

// breakpoints

$mobile: 320px;
$tablet: 768px;
$desctop: 1280px;

$mobile-max: $tablet - 1px;
$tablet-max: $desctop - 1px;
